# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environments
venv/
env/

# IDE / Editor settings
.vscode/
.vscode/*
.idea/
*.code-workspace

# JetBrains IDEs
*.iml
out/
.idea_modules/

# VSCode extensions workspace settings
.history/



# OS files
.DS_Store
Thumbs.db


# Logs and temp files
logs/
*.log
*.tmp


# Experiment outputs
experiments/results/*


# Large files (prevent accidental push)
*.pt
*.pth
*.ckpt
*.h5
*.npz


# Datasets
data_processed